Library/ArtifactDB
Library/CurrentLayout-default.dwlt
Library/InspectorExpandedItems.asset
Library/LastSceneManagerSetup.txt
Library/SceneVisibilityState.asset
Library/ScriptAssemblies/Assembly-CSharp.dll
Library/ScriptAssemblies/Assembly-CSharp.pdb
Library/SourceAssetDB
Library/StateCache/SceneView/8c/8cd7c613bf844de3b80696e27a479d5e.json
Logs/AssetImportWorker0-prev.log
Logs/AssetImportWorker0.log
Logs/shadercompiler-UnityShaderCompiler.exe1.log
Logs/shadercompiler-UnityShaderCompiler.exe2.log
Logs/shadercompiler-UnityShaderCompiler.exe3.log
Logs/shadercompiler-UnityShaderCompiler.exe4.log
UserSettings/EditorUserSettings.asset

obj
.vs
.vsconfig
Assembly-CSharp.csproj
DiglettHunter.sin
Unity.PlayerPrefsEditor.Editor.csproj
Unity.PlayerPrefsEditor.EditorResources.csproj
Unity.PlayerPrefsEditor.Samples.SampleScene.csproj